<!-- begin layout.index -->
<div class="page-wrapper">
			
	<div class="container">
		<section style="min-height:40vh;background: url(/img/bg-2.jpg) no-repeat center center fixed; background-size: cover;" class="">
			
			<%- partial('_partial/header') %>

			<% if (is_category()){ %>
				<h1>Blog articles in category <%- page.category %></h1>
			<% } else { %>
				<h1>Our blog articles</h1>
			<% } %>
		</section>
		
		<section>
			<%- partial('_partial/archive', {index: true}) %>
		</section>

		<%- partial('_partial/footer') %>
	</div>
</div>

<%- partial('_partial/after-footer') %>
<!-- / layout.index -->
