<% if(page.layout !== 'raw') { %>

	<!DOCTYPE html>
	<html <% if (page.path === 'tools/csv-to-json/index.html')  { %>manifest="/tools.appcache"<% } %>>
		<%- partial('_partial/head') %>
		<body>
			
			<%- body %>
				
			<%  if (page.scripts) {
					page.scripts.forEach(function(scriptFile) {
						if (scriptFile.substr(0, 4) === 'http') {%>
							<script src="<%- scriptFile %>"></script>
						<% }
						else
						{%>
							<%- js(scriptFile) %>
						<% }
					})
				}
			%>
		</body>
	</html>

<% }
else {
%>
	<%- body %>
<% } %>
