<% if(page.layout !== 'raw') {
	
	var pageType
	
	switch(true) {
		
		case page.layout === 'blog':
			// blog article
			pageType = 'http://schema.org/BlogPosting'
		
			break
		
		case page.path.substr(0, 4) === 'blog':
			// blog index page
			pageType = 'http://schema.org/Blog'
		
			break
		case page.path.substr(0, 5) === 'tools' && page.path !== 'tools/index.html':
			// online
			pageType = 'http://schema.org/WebApplication'
		
			break
		default:
			pageType = 'http://schema.org/WebPage'
			break
	}
%>




	<!DOCTYPE html>
	<html lang="en" itemscope itemtype="<%- pageType %>" <% if (page.path === 'tools/csv-to-json/index.html')  { %>manifest="/tools.appcache"<% } %>>
		<%- partial('_partial/head') %>
		<body>
			
			<%- body %>
				
			<%  if (page.scripts) {
					page.scripts.forEach(function(scriptFile) {
						if (scriptFile.substr(0, 4) === 'http') {%>
							<script src="<%- scriptFile %>"></script>
						<% }
						else
						{%>
							<%- js(scriptFile) %>
						<% }
					})
				}
			%>
		</body>
	</html>

<% }
else {
%>
	<%- body %>
<% } %>
