<!-- begin post.postFooter -->
<% var isIndex = isIndex || false %>
<div class="postFooter">
	<small>
	  Published by
	  <a href="<%- url_for(post.author) %>"><%- post.author %></a>
	  on <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
	  <%= date(post.date, date_format) %></time>
	  <% if(post['last-update'] && !isIndex) { %>, last modified:
		<time datetime="<%= date_xml(post['last-update']) %>"
		  itemprop="dateModified"><%= date(post['last-update'], date_format) %>
		</time>
	<% } %>
	</small>
</div>
<!-- / post.postFooter -->
