<!-- begin article -->
<article class="post" id="<%= post.layout %>-<%= post.slug %>" itemscope itemprop="blogPost">
	<% if (post.link || post.title){ %>
		<%- partial('post/title', {class_name: 'article-title'}) %>
	<% } %>

	<div itemprop="articleBody">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p>
					<a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
				</p>
			<% } %>
		<% } else { %>
			<%- post.content %>
		<% } %>
	</div>
	<%- partial('post/postFooter', {date_format: 'MMMM Do YYYY', isIndex: false}) %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>

<section id="comments">
	<div id="disqus_thread">
		<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</section>
<% } %>
<!-- / article -->
