<!-- begin footer-->
<footer>
  <div class="container">
  <div class="row">
    <div class="columns twelve">

		<p>
			<a rel="home" href="<%- url_for() %>"><%- image_tag('/img/mango-information-systems-logo-dark.png', {
				alt: config.title
				, class: "u-img-responsive"
			}) %>
			</a>
		</p><br>

    </div>
    <div class="columns six">
        <%- partial('company-microdata') %>
    </div>
    <div class="columns six">
        <ul class="footer-navigation">

          <% for (var link in site.data.menu){

			  var linkClass = is_current(site.data.menu[link].substring(1) + 'index.html') ? ' class="active"' : ''
			  
			  %>
              <li>
                <a <%- linkClass %> href="<%- url_for(site.data.menu[link]) %>"><%- link %></a>
              </li>
          <% } %>

        </ul>
    </div>
  </div>
</div>
</footer>
<!-- / footer-->
