<!-- begin header -->
<header id="header">

		<div class="row">
			<div class="sm-offset-by-three sm-six md-offset-by-zero md-four lg-three columns">
				<a class="nav-link" rel="home" href="<%- url_for() %>">
					<%- image_tag('/img/mango-information-systems-logo.png', {
						alt: config.title
						, class: "u-img-responsive"
					}) %>
				</a>
			</div>
			<div class="sm-four md-two columns u-text-center">
				<a class="nav-link" href="<%- url_for('/') %>">Home</a>
			</div>
			<div class="sm-four md-two columns u-text-center">
				<a class="nav-link" href="<%- url_for('/blog') %>">Blog</a>
			</div>
			<div class="sm-four md-two columns u-text-center">
				<a class="nav-link" href="<%- url_for('/tools') %>">Tools</a>
			</div>
		</div>
</header>
<!-- / header -->
