<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<%
	var title = page.title
		, url =  config.url + url_for(page.path).replace( /(\/index\.html?$)|(\/?$)/, '/')
	
	if (typeof page.subtitle !== 'undefined')
		title = title + ' - ' + page.subtitle

	if (is_archive())
		title = 'blog'

	if (is_category())
		title = page.category
	%>
	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<%- open_graph({
		url: url
		, title: title
		, twitter_id: theme.twitter
		, image: page.thumbnail || '/img/default-thumbnail.png'
	}) %>
	<% if (theme.favicon){ %>
		<%- favicon_tag(theme.favicon) %>
	<% } %>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	
	<% if (config.highlight.enable){ %>
		<link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
	<% } %>

	<% if (config.url !== 'http://mango-is.com' && config.url !== 'https://mango-is.com'){ %>
		<meta name="robots" content="noindex, nofollow">
	<% } %>

	<link href='https://fonts.googleapis.com/css?family=Roboto|Raleway:400' rel='stylesheet' type='text/css'>

	<%- css('css/font-awesome/css/font-awesome.min') %>
	<%- css('css/normalize') %>
	<%- css('css/skeleton.min') %>

	<%  if (page.css) {
			page.css.forEach(function(cssFile) {%>
			<%- css('css/' + cssFile) %>
		<%  })
		}
	%>

	<link rel="canonical" href="<%- url%>"/>
	
	<% if (page.prevArticle) { %>
		<link rel="prev" href="<%- url_for(page.prevArticle) %>" />
	<% }
	if (page.nextArticle) { %>
		<link rel="next" href="<%- url_for(page.nextArticle) %>" />
	<% }


	if (is_post() || is_archive() || is_category()) { %>
		<%- feed_tag('/blog/atom.xml', {title: 'Mango Information Systems blog'}) %>
	<% }
		else { %>
		<%- css('css/landing') %>
	<% } %>

	<%- css('css/blog') %>
	<%- partial('google-analytics') %>
	
</head>
