<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<%
	let url =  config.url + url_for(page.path).replace( /(\/index\.html?$)|(\/?$)/, '/')
		, title
		, canonicalURL

	if( page.path.startsWith('blog/') )
		canonicalURL = 'https://alef.website' + url_for(page.path).replace('blog/', 'blog/archive/').replace( /(\/index\.html?$)|(\/?$)/, '')
	else if( page.path.startsWith('tools/csv-to-json/') )
		canonicalURL = 'https://alef.website/tools/csv-to-json'
	else if( page.path.startsWith('tools/myTagOverflow/') )
		canonicalURL = 'https://alef.website/tools/myTagOverflow'
	else if( page.path.startsWith('tools/') )
		canonicalURL = 'https://alef.website/tools'
	else
		canonicalURL = 'https://alef.website' + url_for(page.path).replace( /(\/index\.html?$)|(\/?$)/, '/')

	if (is_archive())
		title = 'Blog'
	else if (is_category())
		title = page.category
	else if (page.metaTitle)
		title = page.metaTitle
	else {
		title = page.title		
		
		if (typeof page.subtitle !== 'undefined')
			title = title + ' - ' + page.subtitle
			
	}
		
	if (!is_post())
		title = title + ' | ' + config.title
		
	%>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<%- open_graph({
		url: url
		, title: title
		, twitter_id: theme.twitter
		, image: page.thumbnail || '/img/default-thumbnail.png'
	}) %>
	<% if (theme.favicon){ %>
		<%- favicon_tag(theme.favicon) %>
	<% } %>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	
	<% if (config.url !== 'http://mango-is.com' && config.url !== 'https://mango-is.com'){ %>
		<meta name="robots" content="noindex, nofollow">
	<% } %>

	<%- css('css/font-awesome/css/font-awesome.min') %>
	<%- css('css/normalize') %>
	
	<%  if (page.layout !== 'slide') { %>
		<%- css('css/skeleton.min') %>
	<% 
	}
	%>

	<%  if (page.css) {
			page.css.forEach(function(cssFile) {%>
			<%- css('css/' + cssFile) %>
		<%  })
		}
	%>

	<link rel="canonical" href="<%- canonicalURL %>"/>
	
	<% if (page.prevArticle) { %>
		<link rel="prev" href="<%- url_for(page.prevArticle) %>" />
	<% }
	if (page.nextArticle) { %>
		<link rel="next" href="<%- url_for(page.nextArticle) %>" />
	<% }


	if (is_post() || is_archive() || is_category()) { %>
		<%- feed_tag('/blog/atom.xml', {title: 'Mango Information Systems blog'}) %>
	<% } %>

	<%- partial('google-analytics') %>
	
</head>
