<!-- begin header -->
<header id="header">

		<div class="row">
			<div class="md-four lg-three columns">
				<a rel="home" href="<%- url_for() %>">
					<%- image_tag('/img/mango-information-systems-logo.png', {
						alt: config.title
						, class: "u-img-responsive"
					}) %>
				</a>
			</div>
			<div class="md-three lg-three columns u-text-center">
				<a href="<%- url_for('/') %>">Offers</a>
			</div>
			<div class="md-three lg-three columns u-text-center">
				<a href="<%- url_for('/blog') %>">Blog</a>
			</div>
			<div class="md-two lg-three columns u-text-center">
				<a href="<%- url_for('/tools') %>">Tools</a>
			</div>
		</div>
</header>
<!-- / header -->
