<!-- begin header -->
<%
let bgImage = page.topBackgroundImage || '/img/bg-2.jpg'
	, headingClass = page.topCentered? 'u-text-center' : ''
%>

<section style="background: url(<%- bgImage %>) no-repeat center center fixed; background-size: cover;" class="">
	<header>
		<div class="row">
			<div class="md-six column">
				<a class="brand nav-link" rel="home" href="/">
					<%- image_tag('/img/mango-information-systems-logo.png', {
						class: 'u-img-responsive'
						, alt: 'Mango Information Systems'
					}) %>
				</a>
			</div>
			<div class="md-six column">
				Blog archives (2010-2021)
			</div>
		</div>
		<% switch(true) {
			case is_category(): %>
				<h1>Blog articles in category <%- page.category %></h1>
				<% break
			case is_archive(): %>
				<h1>Our blog articles</h1>
				<% break
			default: %>
				<h1 class ="<%- headingClass %>"><%- page.title %></h1>
				<% if(page.subtitle) {%>
					<h2 class ="<%- headingClass %>"><%- page.subtitle %></h2>
				<% } %>
				<% break
		} %>
	</header>
</section>
<!-- / header -->
