<!-- begin reference -->
<div class="row">
	<div class="card twelve columns">
	
		<div class="row">
		
			<% if(typeof data.thumbnail !== 'undefined') {
			%>
				<div class="four columns">
					<img class="u-img-responsive fa-border" src="img/<%- data.thumbnail %>" alt=""/>
				</div>
			<% 
			}
			%>
			<div class="eight columns">
				<h3 itemprop="name"><%- data.project %></h3>
				<p itemprop="description"><%- data.description %>
				</p>
			</div>
		
			<% if(typeof data.thumbnail === 'undefined') {
			%>
				<div class="four columns">
					<h4>Toolbox</h4>
					<div class="u-cf"></div>
					<ul class="list-inline">
						<% _.each(data.domains, function(domain) {
						%>
							<li><span class="tag tag-domain"><%- domain %></span></li>
						<% }) %>
					</ul>
					<div class="u-cf"></div>
					<ul class="list-inline">
						<% _.each(data.tech, function(tech) {
						%>
							<li itemscope itemtype="http://schema.org/ComputerLanguage"><span class="tag tag-tech" itemprop="name"><%- tech %></span></li>
						<% }) %>
					</ul>
					<div class="u-cf"></div>
					<ul class="list-inline">
						<% _.each(data.dataTech, function(dataTech) {
						%>
							<li><span class="tag"><%- dataTech %></span></li>
						<% }) %>
					</ul>
				</div>
					
			<% 
			}
			%>
		</div>
		
		<% if(typeof data.thumbnail !== 'undefined') {
		%>
			<div class="row">
				<div class="twelve columns">
					<h4>Toolbox</h4>
					<ul class="list-inline">
						<% _.each(data.domains, function(domain) {
						%>
							<li><span class="tag tag-domain"><%- domain %></span></li>
						<% }) %>
					</ul>
					<ul class="list-inline">
						<% _.each(data.tech, function(tech) {
						%>
							<li itemscope itemtype="http://schema.org/ComputerLanguage"><span class="tag tag-tech" itemprop="name"><%- tech %></span></li>
						<% }) %>
					</ul>
					<ul class="list-inline">
						<% _.each(data.dataTech, function(dataTech) {
						%>
							<li><span class="tag"><%- dataTech %></span></li>
						<% }) %>
					</ul>
				</div>
			</div>
			
		<% 
		}
		
		if(typeof data.quotes !== 'undefined' && data.quotes.length === 1) {
		%>
			<h4>Customer quote</h4>
		<% 
		}
		else  if(typeof data.quotes !== 'undefined') {
		%>
			<h4>Customers quotes</h4>
		<% 
		}
		
		_.each(data.quotes, function(quote) {
		%>
			<div class="row reference" itemprop="review" itemscope itemtype="http://schema.org/Review">
				<div class="columns md-two
									sm-four
									xs-two">
					<%- image_tag(quote.image.href, {
					class: 'u-img-responsive u-pull-left profile-photo'
					, alt: quote.image.alt
					}) %>
				</div>

				<div class="columns md-ten
									sm-eight
									xs-ten">
					<blockquote itemprop="reviewBody">
						<i aria-hidden="true" class="fa fa-quote-left fa-2x fa-pull-left text-muted"></i>
						<%- quote.text %>
						<p>
							<cite>
								<span itemprop="author"><%- quote.author %></span>, <%- quote.authorTitle %>
							</cite>
						</p>
					</blockquote>
				</div>
				
			</div>
		<% }) %>
	
	</div>



</div>
<!-- / reference -->
