<div class="row">
	<div class="xs-six lg-twelve columns">
		<h4><%- display_name %></h4>
		<p><small>
			member since  <%- creationDate.toLocaleString('en-us', { month: 'short' }) %>   <%- creationDate.getFullYear() %>
		</small></p>
		
		<p><small>
			<a href=" <%- link %> " target = "_blank">View on stackOverflow</a>
		</small></p>
	</div>
	<div class="xs-six lg-twelve columns">

		<p class="metric u-text-center"><%- reputation %></p>
		<p class="metric-legend u-text-center">reputation</p>
		
		<p class="u-text-center">
			
		<% if (badge_counts.gold) {%>	
			
			<span title="<%- badge_counts.gold %> gold badges"><i class="fa fa-circle" aria-hidden="true" style="color:#FFCC01;"></i> <%- badge_counts.gold %></span>
			
		<% } %>
			
		<% if (badge_counts.silver) {%>	
			
			<span title="<%- badge_counts.silver %> silver badges"><i class="fa fa-circle" aria-hidden="true" style="color:#B4B8BC;"></i> <%- badge_counts.silver %></span>
			
		<% } %>
			
		<% if (badge_counts.bronze) {%>	
			
			<span title="<%- badge_counts.bronze %> bronze badges"><i class="fa fa-circle" aria-hidden="true" style="color:#D1A684;"></i> <%- badge_counts.bronze %></span>
			
		<% } %>
		</p>

	</div>
</div>
