<!-- begin sidebar -->
<aside>


	<div class="card">
		<div class="row">
			
			<div class="twelve columns">
				<%- site.data.about %>
			</div>
		</div>
		
		<br/>
		
		<div class="row">
		
			<% for (var link in site.data.menu){
			  if (['/terms/'].indexOf(site.data.menu[link]) === -1) {

			  %>
				<div class="xs-six lg-twelve columns">
					<a class="nav-link" href="<%- url_for(site.data.menu[link]) %>"><%- link %></a>
				</div>
		  <% }
		  } %>
		  
		</div>
		
		<br/>
		
		<div class="row">
		  
			<div class="xs-six lg-twelve columns">
				<a class="nav-link" title="rss feed" href="<%- url_for(config.feed.path) %>"><i class="fa fa-fw fa-rss-square" aria-label="RSS feed"></i> RSS</a>
			</div>
			<div class="xs-six lg-twelve columns">
				<a class="nav-link" title="share on twitter" href="https://twitter.com/home?status=<%- page.title %>%20%3E%20<%- page.permalink %>"><i class="fa fa-fw fa-twitter" aria-label="share on twitter"></i> Twitter</a>
			</div>
			<div class="xs-six lg-twelve columns">
				<a class="nav-link" title="share on facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%- page.permalink %>"><i class="fa fa-fw fa-facebook" aria-label="share on facebook"></i> Facebook</a>
			</div>
			<div class="xs-six lg-twelve columns">
				<a class="nav-link" title="share on linkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=<%- page.permalink %>&title=<%- page.title %>&summary=<%- page.description %>&source=mango-is.com"><i class="fa fa-fw fa-linkedin" aria-label="share on linkedin"></i> LinkedIn</a>
				
			</div>
		</div>
	</div>


</aside>
<!-- / sidebar -->
